label {
	font-size: 1.2rem;
    padding: 0.5em 0.8em;
    background-color: #f0f0f0;
	border-radius: 5px 0 0 5px;
    width: 55px;
    display: block;
    float: left;
}

input {
	font-size: 1.2rem;
	padding: .5em;
	border: 1px solid #e5e2e2;
	border-radius: 0 5px 5px 0;
	width: 71%;
}

input:focus {
	outline: 0;
}

button {
    font-size: 1.2rem;
    padding: 0.7em;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #626181ab;
    border: 0;
    color: #fff;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.align-center {
	text-align: center;

}	

.bg {
	padding: 0.5em;
    background-color: #f9f9f9;
    border-radius: 5px;
    color: #000;
    max-width: 100%;
    margin-bottom: 15px;
}

.bg-info {
	background-color: #86ef82;
}

.bg-warning {
	background-color: #ff5e5e;
	color: #fff;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #080808;
}
  
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.App {
	width: auto;
	height: auto;
	max-width: 800px;
	display: block;
	position: relative;
	margin: 0 auto;
}

.app-wrapper {
	width: 500px;
	height: auto;
	background: #6f7c93;
    padding: 2em;
	border-radius: 7px;
}

.app-wrapper header {
	text-align: center;
	font-size: 1.6rem;
	margin-bottom: 1.5em;
}

.app-wrapper header h1 {
	margin: 0;
	font-size: 2.7rem;
}

.app-wrapper .form {
	display: block;
	position: relative;
	width: 500px;
	margin: 0 auto;
}

.app-wrapper .form .block {
	width: 75%;
	margin: 1em auto;
}

.appmodal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
    transition: 2s ease-in-out;
    left: 0;
	top: 0;
}

.appmodal-container:after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
	display: block;
	position: relative;
}

.appmodal {
	width: 500px;
	background: #6f7c93;
	border: 1px solid #ccc;
	transition: 1.1s ease-out;
	box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
	filter: blur(0);
	transform: scale(1);  
	opacity: 1;
	visibility: visible;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	z-index: 900;
	border-radius: 5px;
}


.appmodal img {
	height: 80px;
	position: relative;
	display: block;
	margin: 15px auto;
}

.appmodal .content {
	padding: 2rem 1.5rem;
	border-top: 1px solid #ccc;
	font-size: 1.2rem;
}

.appmodal .content .account-table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 7px;
	color: #f0f0f0;
}
  
.appmodal .content .account-table td, .appmodal .content .account-table th {
	border: 1px solid rgb(92 106 145);
	padding: 10px;
}

.appmodal .content .account-table td:nth-child(even) {
	text-align: right;
}
  
.appmodal .content .account-table tr:nth-child(even){background-color: #6c7193;}
  
.appmodal .content .account-table tr:hover {background-color: #656a89;}
  
.appmodal .content .account-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #526d8f;
	text-align: center;
}